.post-content-container {
    max-width: calc(100vw - 5rem);
}
.post-sub-data-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    p {
        margin-right: 20px;
        margin-top: -20px;
    }
}

.post-comments {
    .comment {
        .profile-pic{
            margin-right: 40px;
            .picture {
                width: 80px;
                border-radius: 50px;
            }
        }
        background-color: darkgrey;
        padding:15px 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        h4 {
            margin-top: 0;
            margin-bottom: 0;
        }
        p {
            margin-bottom: 0;
        }
    }
}

.new-comment {
    form {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        label {
            font-size: 1.4rem;
            
        }
        textarea {
            width: 50%;
            margin: 15px 40px;
            min-height: 150px;
            border: solid 1px rebeccapurple;        
        }
        button {
            background-color: rebeccapurple;
            color: white;
            width: 150px;
            height: 40px;
            padding: 5px;
            border: none;
            margin-bottom: 20px;
            cursor: pointer;
        }
    }
}