.post-content-container {
    max-width: calc(100vw - 5rem);
}
.post-sub-data-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    p {
        margin-right: 20px;
        margin-top: -20px;
    }
}

.post-comments {
    .comment {
        
        padding:15px 5rem;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        .comment-content {
            width: 100%;
            padding-top: 1rem;
            .top {
                display: flex;
                flex-direction: row;
                align-items: baseline;
                p {
                    margin-top: 0;
                    margin-left: 20px;
                    color: #d0cbd6;
                    font-size: .8rem;
                }
                h4 {
                    letter-spacing: -1px;
                }
            }
            
        }
        .profile-pic{
            margin-right: 40px;
            
            .picture {
                width: 80px;
                border-radius: 50px;
            }
        }
        a {
            text-decoration: none;
            color: black;
        }
        h4 {
            margin-top: 0;
            margin-bottom: 0;

        }
        p {
            margin-bottom: 0;
        }
    }
}

.new-comment {
    form {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        label {
            font-size: 1.4rem;
            
        }
        textarea {
            width: 50%;
            margin: 15px 40px;
            min-height: 150px;
            border: solid 1px rebeccapurple;        
        }
        button {
            background-color: rebeccapurple;
            color: white;
            width: 150px;
            height: 40px;
            padding: 5px;
            border: none;
            margin-bottom: 20px;
            cursor: pointer;
        }
    }
}

.delete-comment { 
    font-weight: bold;
    color: red;
    font-size: 12px;
    text-align: right;
    cursor: pointer;
}

.top-comment-bar {
    border-bottom: solid 1px #d0cbd6;
    border-top: solid 1px #d0cbd6;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    span h5, span a {
        padding-bottom: 1rem;
        margin-bottom: 0;
        border-bottom: solid 3px #d0cbd6;
        text-decoration: none;
        text-align: justify;

    }
}