.catntag-title {
    text-transform: capitalize;
}

.bread-crumbs {
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: .5px;
}

.categoryMap {
    margin-right: 20px;
    font-size: 2rem;
}