.button {
    padding: 15px 40px;
    background-color: grey;
    border-radius: 2px;
    transition-duration: .2s;
    transition-timing-function: ease;
    transition-property: background-color;
    max-width: 150px;
    text-align: center;
    cursor: pointer;
    &.green {
        background-color: #9ab782;
        color: white;
    &:hover {
        background-color: #bbceab;
    }
    }

    &.blue {
        background-color: #54C2DD;
        &:hover {
            background-color: #98e1f2;
        }
    }

}