.top-bar {
    background: #f0f0f0;
    padding: 0 80px;
    justify-content: space-between;
    div {
        padding: 15px 0;
    }


}

.center-bar {
    padding: 20px 80px;
    background-color: white;

}


.bottom-bar {
    background-color: #98B880;
    padding: 0 80px;
 ul {
     margin: 0;
     list-style: none;
     padding: 0;
     
     li {
         margin-right: 20px;
         color: #fff;
         padding: 10px 0;
         a {
             color: #fff;
             padding: 10px 0;
             
         }
     }
 }
}

.sub-bottom-bar {
    padding: 10px 80px;
    background-color: white;
    span {
        color: #888;
    }
    .separator {
        color: #ddd;
        margin: 0 15px;
    }
}

.tuts {
     position: relative;
     top: 100px;
     color: black; 
    }

.tutorial-link {
    .trickster {
        position: absolute;
        top: 0;
        left: 0;
    }
    .trickster::after {
            content:'';
            display:block;
            width:0;
            height:0;
            position: relative;
            z-index: 2;
            top: 217px;
            left: 110px;
            border-style: solid;
            border-width: 0 5px 5px 5px;
            border-color: transparent transparent #f0f0f0 transparent;
    }
}

.tutorial-link:hover .dropdownNav {
    display: block;
}

.tutorial-link:hover {
    .trickster::after {
        
        border-color: transparent transparent #8CA96D transparent;
    }
}

.tutorial-link:hover .dropdownNav:hover {
    display: block;
}


ul.dropdownNav {
    margin-top: 10px;
    padding: 20px;
    position: absolute;
    background-color: #8CA96D;
    display: none;
    z-index: 2;
}

.no-pad {
    padding:0;
}

.topic-container {
    display: flex;
    flex-direction: column;
}

.cat-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    h4 {
        text-transform: capitalize;
        margin-right: 20px;
    }
    hr {
        width: 100%;
        border: solid .5px #ccddb8;
    }
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;

    .tag {
        padding: 5px 10px;
        flex-basis: 20%;
        color: rgba(255,255,255,.8);
        cursor: pointer;
        &:hover {
            color: #fff;
            background-color: #859F67;
        }
    }
}