.top-bar {
    background: #f0f0f0;
    padding: 0 80px;
    justify-content: space-between;
    div {
        padding: 15px 0;
    }


}

.center-bar {
    padding: 20px 80px;
    background-color: white;

}


.bottom-bar {
    padding: 0 80px;
    background-color: #98B880;
 ul {
     margin: 0;
     list-style: none;
     padding: 0;
     li {
         margin-right: 20px;
         color: #fff;
         padding: 9px 0;
         a {
             color: #fff;
             
         }
     }
 }
}

.tuts {
     position: relative;
     top: 100px;
     color: black; 
    }


.tutorial-link:hover .dropdownNav {
    display: block;
}

.tutorial-link:hover .dropdownNav:hover {
    display: block;
}


ul.dropdownNav {
    margin-top: 8px;
    position: absolute;
    background-color: #8CA96D;
    display: none;
    z-index: 2;
}

.no-pad {
    padding:0;
}