
.top-bar {
    background: #f0f0f0;
    padding: 0 80px;
    justify-content: space-between;
    div {
        padding: 15px 0;
    }


}

.center-bar {
    padding: 20px 80px;
    background-color: white;

}


.bottom-bar {
    background-color: #98B880;
    padding: 0 80px;
 ul {
     margin: 0;
     list-style: none;
     padding: 0;
     
     li {
         margin-right: 20px;
         color: #fff;
         padding: 10px 0;
         a {
             color: #fff;
             padding: 10px 0;
             
         }
     }
 }
}

.sub-bottom-bar {
    padding: 10px 80px;
    background-color: white;
    span {
        color: #888;
    }
    .separator {
        color: #ddd;
        margin: 0 15px;
    }
}

.tuts {
     position: relative;
     top: 100px;
     color: black; 
    }

.tutorial-link {
    .trickster {
        position: absolute;
        top: 0;
        left: 0;
    }
    .trickster::after {
            content:'';
            display:block;
            width:0;
            height:0;
            position: relative;
            z-index: 2;
            top: 216px;
            left: 108px;
            border-style: solid;
            border-width: 0 8px 8px 8px;
            border-color: transparent transparent #f0f0f0 transparent;
    }

    .trickster.crumbs::after {
        border-color: transparent transparent #fff transparent;
    }
}

.tutorial-link:hover .dropdownNav {
    display: block;
}

.tutorial-link2:hover ul.dropdownNav.two {
    display: block;

    .trickster.hidden.acerca {
        display: block;
    }





}

.tutorial-link2 {
    .trickster.hidden.acerca::after {
        content:'';
        display:none;
        width:0;
        height:0;
        position: relative;
        z-index: 2;
        top: 216px;
        left: 265px;
        border-style: solid;
        border-width: 0 8px 8px 8px;
        border-color: transparent transparent #fff transparent;
    }
    
}

.tutorial-link2:hover {
    
.trickster.hidden.acerca {
    display: block;
}   
    .trickster.acerca.crumbs::after {
        border-color: transparent transparent #8CA96D transparent !important;
    }
}




.tutorial-link:hover {

    .trickster.hidden {
        display: block;
    }
    .trickster::after {
        
        border-color: transparent transparent #8CA96D transparent;
    }
   
}



.tutorial-link:hover .dropdownNav:hover {
    display: block;
}


ul.dropdownNav {
    margin-top: 10px;
    padding: 0 20px 20px;
    position: absolute;
    background-color: #8CA96D;
    display: none;
    z-index: 2;
    margin-right: 50px;
    &.two {
        padding: 10px 15px;
    }
}




.no-pad {
    padding:0;
}

.topic-container {
    display: flex;
    flex-direction: column;
}

.cat-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    h4 {
        text-transform: capitalize;
        margin-right: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }
    hr {
        width: 100%;
        border: solid .5px #ccddb8;
    }
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;

    .tag {
        padding: 5px 10px;
        flex-basis: 20%;
        color: rgba(255,255,255,.8);
        cursor: pointer;
        &:hover {
            color: #fff;
            background-color: #859F67;
        }
    }
}


.profile-span {
    &:first-child {
        margin-left: 0;
    }
    button {
        background: none;
        border: none;
        cursor: pointer;
        font-family: 'Vollkorn', Georgia, Times, serif;
        font-size: 16px;
        line-height: 25px;
    &:hover {
        color: #999;
    }
    }
   &:hover {
       background: #f8f8f8;
       border-bottom: .5px solid #f8f8f8;

       a {
           color: #999;
       }
   }
   a {
    color: black;
   } 
    margin: -14px 0;
    padding: 12px 15px;
}


@media screen and (max-width: 800px) {
   
 .tag-container {
     max-width: 500px;
 }
    
}


@media screen and (max-width: 500px) {
    .top-bar {
        justify-content: center;
    }

    .sub-bottom-bar, .bottom-bar {
        display: none;
    }

    .Logo {
        justify-content: center;
    }
}










// trickster global
    .trickster {
        position: absolute;
        top: 0;
        left: 0;
    }
    .trickster::after {
            content:'';
            display:block;
            width:0;
            height:0;
            position: relative;
            z-index: 2;
            top: 216px;
            left: 108px;
            border-style: solid;
            border-width: 0 8px 8px 8px;
            border-color: transparent transparent #f0f0f0 transparent;
    }

    .trickster.crumbs::after {
        border-color: transparent transparent #fff transparent;
    }

.trickster.profile::after {
    left: 337px;    
}

.trickster.cursos::after {
    left: 187px;
}

.trickster.acerca::after {
    left: 265px;
}


.trickster.hidden {
    display: none;
}
