.jumbotron {
    padding: 40px;
    background: white;


    margin-bottom: 40px;

    h1 {
        font-size: 2.8rem;
        color: black;
        margin-top: 0;
        margin-bottom: 0;
    }
    p{
        font-size: 1.5em;
        color: black;
    }
  
}

.jumbotron.blue {
    background: #8DCACE;
    h1{
        color: white;
    }
    p {
        color: white;
    }
}

@media screen and (max-width: 500px) {


    .jumbotron {
        padding: 20px;
        margin-bottom: 20px;
    
        h1 {
            font-size: 1.8rem;
            color: black;
            margin-top: 0;
            margin-bottom: 0;
        }
        p{
            margin-top: 0;
            font-size: 1.4rem;
            color: black;
        }
      
    }
    
}