@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

$text-primary: #b6b6b6;
$text-secondary: #ececec;
$bg-primary: #23232e;
$bg-secondary: #141418;


:root {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}


body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;

    &::-webkit-scrollbar{
        width: 0.25rem;
    }
    &::-webkit-scrollbar-thumb {
        background: #663399;
    }
}

.main-container {
    margin-left: 5rem;
    padding: 2rem;
    &.dark {
        background-color: $bg-secondary;
        color: white;
    }
}