@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

$text-primary: #b6b6b6;
$text-secondary: #ececec;
$bg-primary: #23232e;
$bg-secondary: #141418;


:root {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}


body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;

    &::-webkit-scrollbar{
        width: 0.25rem;
    }
    &::-webkit-scrollbar-thumb {
        background: #663399;
    }

    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.8rem;
    }
    h4 {
        font-size: 1.5rem;
    }
}

.main-container {
    margin-left: 5rem;
    padding: 2rem;
    min-height: 100vh;
    &.dark {
        background-color: $bg-secondary;
        color: white;
        .login-container form button {
            color: white;
            &:hover {
                background-color: $bg-primary;
            }
        }
    }

    .login-container form button {
        color: black;
    }
}


.title {
    text-align: center;
    h1 {
        margin-bottom: 0;
    }
    h4 {
        margin-top: 0;
        margin-bottom: 0;
    }
    h5 {
        margin-top: 0;
        margin-bottom: 0;
    }
    p {
        margin-top: 0;
        font-style: italic;
        
    }

}


.login-container {
   display: flex;
   flex-direction: row;
   justify-content: center;

   form {
       margin: 0 4rem;
       display: flex;
       flex-direction: column;
       text-align: center;
       align-content: center;
       input {
           border-radius: 5px;
           border: 1px solid #663399;
           background-color: none;
           padding: 8px 15px;
       }

       label {
           margin-top: 20px;
           margin-bottom: 5px;
       }
       button {
           width: 50%;
           text-align: center;
           margin: 20px auto;
           padding: 5px 10px;
           border-radius: 5px;
           border: 1px solid #663399;
           background: none;
           color: white;
           cursor: pointer;
           &:hover {
               background-color: #ececec;
           }
       }
   }
    
}