@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Vollkorn&display=swap');

body, html {
    padding: 0;
    margin: 0;
    font-family: 'Vollkorn', Georgia, Times, serif;
    font-size: 16px;
    line-height: 25px;
    background: #f0f0f0;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Ubuntu', Helvetica, Arial, sans-serif;

}

h1 {
    font-size: 50px;
    line-height: 65px;
}

h2 {
    font-size: 35px;
}
 


.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

a {
    text-decoration: none;
    color: #749559;
    &:hover {
        color: #9ab782;
    }
}