.card-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    a {
        flex-basis: 100%;
        .button {
            margin: 20px auto 40px;
        }
    }
    hr {
        flex-basis: 100%;
        margin-bottom: 30px;
        box-shadow: none;
    }
}

.postcard-main {
    max-width: 300px;
    box-shadow: rgba(0,0,0,.05) 0 1px 1px 0;
    background: white;
    margin: 15px;
}

.postcard-img{
    
    max-width: 300px;
    max-height: 190px;
    transition: opacity ease-in-out .2s;
    cursor: pointer;
    &:hover{
        opacity: .8;
    }
    
    div {
        max-width: 300px;
        max-height: 190px;
    }

   img {
    object-fit: contain;
    max-width: 300px;
    max-height: 190px;
   }

    
}

.postcard-content {
    padding: 40px 30px 20px;
}

.card-meta {
    text-transform: uppercase;
    font-size: .9rem;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;

  
}