.card-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    a {
        flex-basis: 100%;
        .button {
            margin: 20px auto 40px;
        }
    }
    hr {
        flex-basis: 100%;
        margin-bottom: 20px;
        box-shadow: none;
    }
}

.proverlay {
    margin: -35px 10px 0;
    z-index: 22;
    position: relative;
    font-size: 14px;
    align-self: flex-end;
    background-color: #98B880;
    padding: 2px 6px;
    border-radius: 10px;
}

.postcard-main {
    max-width: 300px;
    box-shadow: rgba(0,0,0,.05) 0 1px 1px 0;
    background: white;
    margin: 15px;
    display: flex;
    flex-direction: column;
    min-height: 300px;
}

.postcard-img{
    
    max-width: 300px;
    max-height: 190px;
    transition: opacity ease-in-out .2s;
    cursor: pointer;
    &:hover{
        opacity: .8;
    }
    
    div {
        max-width: 300px;
        max-height: 190px;
    }

   img {
    object-fit: contain;
    max-width: 300px;
    max-height: 190px;
   }

    
}

.postcard-content {
    padding: 40px 30px 20px;
    &.course {
        padding: 20px 30px;
    }
    .card-content.course a {
        color: black;
        &:hover{
            color: #9ab782;
        }
    }
}

.card-meta {
    text-transform: uppercase;
    font-size: .9rem;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;

  
}